* {
  font-family: "Roboto Mono";
}
a {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid black;
  font-size: 14px;
}
a.active,
a:hover {
  color: #1e0fbe;
  border-bottom: 3px solid #1e0fbe;
  text-decoration: none;
  opacity: 1 !important;
}
@media (max-width: 767px) {
  a {
    margin: 0 10px 18px;
    display: inline-block;
    font-size: 12px;
  }
}
.cover {
  background-image: url(./bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  background-position: center;
}
.title-name {
  padding-top: 80px;
}
.title-project {
  padding-bottom: 80px;
  font-size: 30px;
}
.arrow {
  margin: -40px auto 0;
  display: block;
}
.post-text {
  font-size: 12px;
}
button {
  color: #fff !important;
  background-color: #000 !important;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
  border: none;
  display: inline-block;
}
ul {
  li {
    list-style: none;
  }
}
.form-control {
  color: #000;
  padding-left: 0;
  padding-right: 0;
  border: none;
  outline: 0;
  box-shadow: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  margin-bottom: 10px;
}
